@model IEnumerable<MvcWebApiClientNestedPayload.Models.PersonModel1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Children
        </th>
    </tr>

@foreach (var item in Model){
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.people2.Count)*@

        @foreach (var p2 in item.people2)
        {
        <li>@p2.ID - @p2.Name</li>
        }
    </td>
</tr>
}

</table>
